@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 7rem;
  background-color: #14161f;
  color: #F9F9F9;
}

@media (min-width: 768px) {
  body {
    padding-top: 8rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding-top: 9rem;
  }
}

.btn {
  display: inline-block;
  padding: 2.5rem 4rem;
  border: 1px solid transparent;
  background: none;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.nav {
  width: 100%;
  padding: 1rem;
  background-color: #14161f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s background-color, 0.3s height;
  transition: 0.3s background-color, 0.3s height;
}

.nav--sticky {
  background-color: #12141c;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: 6rem;
}

@media (min-width: 768px) {
  .nav {
    height: 9rem;
    padding: 1.5rem;
  }
  .nav--sticky {
    height: 8rem;
  }
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .nav-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 3rem;
  color: #F9F9F9;
  font-weight: bold;
  text-transform: uppercase;
}

.logo__img {
  height: 4.8rem;
}

@media (min-width: 1024px) {
  .logo__img {
    height: 6rem;
  }
}

.menu__btn {
  display: block;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .menu__btn {
    display: none;
  }
}

.menu__list {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-top: 5rem;
  list-style: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(28, 39, 53, 0.24);
          box-shadow: 0 4px 8px 0 rgba(28, 39, 53, 0.24);
  background-color: #14161f;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (min-width: 1024px) {
  .menu__list {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    padding-top: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menu__list--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__close-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .menu__close-btn {
    display: none;
  }
}

.menu__title {
  position: absolute;
  padding: 2.6rem 2.2rem;
  font-size: 1.5rem;
  color: #F9F9F9;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  opacity: 0.3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 1024px) {
  .menu__title {
    display: none;
  }
}

.menu__link {
  position: relative;
  display: block;
  padding: 2rem 6rem;
  font-size: 2.2rem;
  color: #F9F9F9;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  text-align: left;
}

@media (min-width: 1024px) {
  .menu__link {
    padding: 2rem 2rem;
    font-size: 1.7rem;
    color: #e0e0e0;
  }
}

.menu__link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2rem;
  bottom: 1.5rem;
  left: 6rem;
  background-color: #F9F9F9;
  opacity: 0.3;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

@media (min-width: 1024px) {
  .menu__link::after {
    left: 2rem;
  }
}

.menu__link:hover::after {
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}

@media (min-width: 1024px) {
  .menu__link:hover::after {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
}

.bluler {
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media (min-width: 1024px) {
  .bluler {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro {
  padding: 2rem;
  text-align: center;
}

.intro__title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 5rem;
  line-height: 111%;
  font-weight: 900;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 7rem;
  }
}

@media (min-width: 1024px) {
  .intro__title {
    font-size: 9rem;
  }
}

.intro__title span {
  display: block;
}

.intro__description {
  margin-bottom: 5rem;
  font-size: 1.7rem;
  font-weight: 200;
  font-style: italic;
}

@media (min-width: 768px) {
  .intro__description {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .intro__description {
    font-size: 2.2rem;
  }
}

.intro__btn {
  background-color: #49e4ff;
  border-radius: 5rem;
  color: #14161f;
  font-weight: 900;
  font-size: 1.9rem;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border: 1px solid black;
}

.intro__btn:hover {
  background-color: #00c0e2;
}

@media (min-width: 768px) {
  .intro__btn {
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) {
  .intro__btn {
    font-size: 2.6rem;
  }
}

.animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.calculator__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  line-height: 111%;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 768px) {
  .calculator__title {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .calculator__title {
    font-size: 8rem;
  }
}

.calculator__title .instruction-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .calculator__title .instruction-icon {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .calculator__title .instruction-icon {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.instruction {
  font-size: 1.6rem;
  opacity: 0;
  height: 0;
  -webkit-transition: opacity 0.3s, height 1s;
  transition: opacity 0.3s, height 1s;
  background-color: #161822;
}

.instruction.instruction--active {
  opacity: 1;
  height: 1000px;
}

.instruction__title {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
}

.instruction__steps {
  padding: 2rem 2rem 2rem 4rem;
}

.instruction__steps li {
  margin: 1rem 0;
}

.instruction .kettle {
  opacity: 0.9;
  font-style: italic;
}

.instruction .kettle::after {
  content: "";
  display: inline-block;
  background-image: url("../assets/kettle-icon-blue.svg");
  background-size: cover;
  background-position: center center;
  margin-left: 0.5rem;
  margin-bottom: -0.2rem;
  width: 1.6rem;
  height: 1.6rem;
}

.footer {
  width: 100%;
  background-color: #14161f;
  -webkit-box-shadow: 0 0 10px 1px #14161f;
          box-shadow: 0 0 10px 1px #14161f;
  padding: 5px 0;
}

.footer__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info-author {
  color: #F9F9F9;
}

.footer__info-author a {
  color: #F9F9F9;
}
/*# sourceMappingURL=style.css.map */