@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.nav {
  width: 100%;
  padding: 1rem;
  background-color: #14161f;
  position: fixed;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .nav-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.logo {
  display: block;
  text-decoration: none;
  font-size: 3rem;
  color: #F9F9F9;
  font-weight: bold;
  text-transform: uppercase;
}

.logo__img {
  height: 4.8rem;
}

.menu__btn {
  display: block;
  cursor: pointer;
}

.menu__list {
  position: fixed;
  top: 0;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-top: 4rem;
  list-style: none;
  background-color: #101219;
  -webkit-box-shadow: 0 4px 8px 0 rgba(28, 39, 53, 0.24);
          box-shadow: 0 4px 8px 0 rgba(28, 39, 53, 0.24);
  -webkit-transition: right .3s;
  transition: right .3s;
}

.menu__list--active {
  right: 0;
}

.menu__close-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  cursor: pointer;
}

.menu__title {
  position: absolute;
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  color: #F9F9F9;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  opacity: .3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu__link {
  display: block;
  padding: 2rem 6rem;
  font-size: 1.7rem;
  color: #F9F9F9;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.menu__link:active {
  opacity: .8;
}

.header {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner640px {
  display: none;
}

.scroll-reminder__icon {
  font-size: 1.7rem;
  color: #14161f;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation: reminder 1s linear infinite;
          animation: reminder 1s linear infinite;
  cursor: pointer;
}

@-webkit-keyframes reminder {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes reminder {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 640px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .slider {
    display: none;
  }
  .banner640px {
    display: block;
    width: 100%;
  }
  .scroll-reminder__icon {
    padding: 5px;
  }
}

.main {
  width: 100%;
  margin-bottom: 20px;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.main__title {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #14161f;
  margin-bottom: 10px;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.instruction__title {
  font-size: 1.9rem;
  margin: 10px 0;
}

.instruction__steps {
  padding-left: 30px;
}

.instruction__steps li {
  margin: 0;
  padding: 0 0 0 2em;
  line-height: 2.3rem;
  font-size: 1.5rem;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

.instruction__steps li::before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.instruction__footer {
  padding: 5px;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
}

.measurements {
  position: relative;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-new-measurement-modal {
  position: absolute;
  top: -100%;
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  opacity: 0;
  z-index: 0;
  background-color: #F9F9F9;
}

.add-new-measurement-modal__title {
  margin: 10px 0;
  border-bottom: 1px solid #14161f;
  font-size: 1.9rem;
  text-transform: uppercase;
}

.add-new-measurement-modal--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  opacity: 1;
}

.timer {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__stopwatch {
  font-size: 3rem;
}

.timer__time {
  font-size: 1rem;
  visibility: hidden;
  margin-bottom: 5px;
  font-weight: normal;
}

.timer__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer__buttons > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 10px;
  background: none;
  font-size: 1.3rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #14161f;
  text-transform: uppercase;
  cursor: pointer;
}

.timer__buttons > * i {
  margin-right: 5px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.timer__buttons > *:hover i {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.data {
  width: 80%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data > * {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.data > * label {
  width: 70%;
  text-transform: uppercase;
}

.data > * input {
  width: 20%;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  background: none;
  text-align: right;
}

.data > * input:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
}

.data > * span {
  width: 10%;
  margin-left: 5px;
}

.control-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-buttons > * {
  padding: 10px 20px;
  border: 1px solid #14161f;
  border-radius: 5px;
  margin: 0 20px;
  font-size: 1.4rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #14161f;
  font-weight: bold;
  background: none;
  cursor: pointer;
  -webkit-transition: background-color .2s, color .1s;
  transition: background-color .2s, color .1s;
}

.control-buttons > * i {
  margin-right: 5px;
}

.control-buttons > *:hover {
  color: #F9F9F9;
  background-color: #14161f;
}

.measurements-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #14161f;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.measurements-title__number, .measurements-title__mass, .measurements-title__efficiency {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.measurements-title__time {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.measurements-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.measurement {
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.7rem;
}

.measurement__number, .measurement__mass, .measurement__efficiency {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.measurement__time {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.measurement__delete-btn {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.measurement__delete-btn:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.measurements-buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.measurements-buttons > * {
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #14161f;
  font-weight: bold;
  cursor: pointer;
  background: none;
  -webkit-transition: background-color .2s, color .2s linear;
  transition: background-color .2s, color .2s linear;
}

.measurements-buttons > * i {
  margin-right: 5px;
}

.measurements-buttons > *:hover {
  color: #F9F9F9;
  background-color: #14161f;
}

.summary {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.summary__title {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #14161f;
  margin-bottom: 10px;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.summary__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary__chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  height: 500px;
}

.summary__text {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  padding: 20px;
  font-size: 1.6rem;
}

@media (max-width: 960px) {
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__title {
    padding-bottom: 0;
  }
  .instruction__title {
    text-align: center;
  }
  .instruction__steps {
    line-height: 2.4rem;
    margin-top: 10px;
    padding: 5px;
  }
  .instruction__steps li {
    line-height: 2rem;
    text-indent: -2em;
  }
  .measurements {
    margin-top: 15px;
  }
  .measurements-title {
    font-size: 1rem;
  }
  .measurement {
    font-size: 1.1rem;
  }
  .measurement__delete-btn {
    text-align: left;
  }
  .measurements-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .measurements-buttons > * {
    width: 50%;
    font-size: 1.1rem;
    padding: 5px 20px;
    margin: 5px;
  }
  .timer {
    width: 70%;
    margin-bottom: 20px;
  }
  .timer__buttons > * {
    font-size: 1rem;
  }
  .data {
    margin-bottom: 20px;
  }
  .data > * {
    font-size: 1.2rem;
  }
  .data > * input {
    font-size: 1.1rem;
  }
  .control-buttons > * {
    font-size: 1.1rem;
  }
  .summary__title {
    padding-bottom: 0;
    font-size: 3rem;
  }
  .summary__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .summary__text {
    font-size: 1.1rem;
  }
}

.footer {
  width: 100%;
  background-color: #14161f;
  -webkit-box-shadow: 0 0 10px 1px #14161f;
          box-shadow: 0 0 10px 1px #14161f;
  padding: 5px 0;
}

.footer__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info-author {
  color: #F9F9F9;
}

.footer__info-author a {
  color: #F9F9F9;
}
/*# sourceMappingURL=style.css.map */