.header {
    display: flex;
    flex-direction: column;
}

.intro {

    padding: 2rem;
    text-align: center;

    &__title {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 5rem;
        line-height: 111%;
        font-weight: 900;

        span {
            display: block;
        }
    }

    &__description {
        margin-bottom: 5rem;
        font-size: 1.7rem;
        font-weight: 200;
        font-style: italic;
    }

    &__btn {
        background-color: #49e4ff;
        border-radius: 5rem;
        color: $second-color;
        font-weight: 900;
        font-size: 2rem;
        transition: background-color .3s;
        border: 1px solid black;

        &:hover {
            background-color: darken($color: #49e4ff, $amount: 20%)
        }
    }
}

.animation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {

    img {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
}