.main {
  // padding: 2rem;
}

.calculator {
  // display: flex;
}

.calculator__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  line-height: 111%;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 6rem;
  }

  @media (min-width: $desktop) {
    font-size: 8rem;
  }

  .instruction-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
    cursor: pointer;

    @media (min-width: $tablet) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @media (min-width: $desktop) {
      width: 5.5rem;
      height: 5.5rem;
    }

    // &:hover + .instruction {
    //   transform: scaleY(1);
    //   background-color: #fff;
    // }
  }
}

.instruction {
  font-size: 1.6rem;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s, height 0.3s;
  background-color: lighten($second-color, 1);
  // border-radius: 0.7rem;
  // box-shadow: rgba(35, 46, 60, 4%) 0 2px 4px 0;

  &.instruction--active {
    opacity: 1;
    height: auto;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
  }

  &__steps {
    padding: 2rem 2rem 2rem 4rem;
    li {
      margin: 1rem 0;
    }
  }

  .kettle {
    // display: block;
    opacity: 0.9;
    font-style: italic;

    &::after {
      content: "";
      display: inline-block;
      background-image: url("./assets/kettle-icon-blue.svg");
      background-size: cover;
      background-position: center center;
      margin-left: 0.5rem;
      margin-bottom: -0.2rem;
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
