// .nav {
//     width: 100%;
//     padding: 20px 0;
//     margin-bottom: 15px;
//     background-color: $second-color;
//     color: $first-color;
//     box-shadow: 0 0 10px 1px $second-color;

//     &__wrapper {
//         max-width: 1440px;
//         margin: 0 auto;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         flex-wrap: wrap;
//     }
// }

// .nav--is-sticky {
//     position: sticky; //to refactor
//     top: 0;
//     left: 0;
//     padding: 15px;
//     opacity: 1;
//     animation: .5s show-nav 1;
//     z-index: 100;
// }


// @keyframes show-nav {
//     0% {
//         top: -100%;
//     }
// }



// .logo {
//     display: flex;
//     align-items: center;
//     cursor: pointer;

//     &__name {
//         font-size: 1.8rem;
//         text-transform: uppercase;
//         text-align: center;
//     }

//     &__image {
//         margin-left: 10px;
//     }
// }

// .navbar {
//     display: flex;
//     align-items: center;

//     &__list {
//         display: flex;
//         justify-content: space-between;
//         list-style: none;
//     }

//     &__link {
//         position: relative;
//         display: block;
//         padding: 5px 0;
//         margin-left: 30px;
//         font-size: 1.4rem;
//         color: $first-color;
//         text-decoration: none;
//         text-align: center;

//         &::after {
//             content: '';
//             position: absolute;
//             bottom: 0;
//             left: 0;
//             width: 100%;
//             height: 1px;
//             background-color: $first-color;
//             overflow: hidden;
//             transform: scaleX(0);
//             transform-origin: left;
//             transition: transform .5s;
//         }

//         &:hover::after {
//             transform: scaleX(1);
//             transform-origin: right;
//         }
//     }
// }

// @media(max-width: 960px) {
//     .nav__wrapper {
//         flex-direction: column;
//     }

//     .logo__image {
//         display: none;
//     }


// }

// @media(max-width: 640px) {
//     .nav {
//         margin-bottom: 0;
//         padding: 20px 0 0 0;
//     }

//     .nav__wrapper {
//         padding: 10px;
//     }

//     .logo__name {
//         border-bottom: 1px solid $first-color;
//     }

// }


.nav {
    width: 100%;
    padding: 1rem;
    background-color: $second-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    @media (min-width: $tablet) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.logo {
    display: block;
    text-decoration: none;
    font-size: 3rem;
    color: $first-color;
    font-weight: bold;
    text-transform: uppercase;

    &__img {
        height: 4.8rem;
    }
}

.menu__btn {
    display: block;
    cursor: pointer;
}

.menu__list {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-top: 4rem;
    list-style: none;
    background-color: darken($color: $second-color, $amount: 2);
    box-shadow: 0 4px 8px 0 rgba(28, 39, 53, 0.24);
    transition: right .5s;
}

.menu__list--active {
    right: 0;
}

.menu__close-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    cursor: pointer;
}

.menu__title {
    position: absolute;
    padding: 2rem 2.2rem;
    font-size: 1.5rem;
    color: $first-color;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    opacity: .3;
    user-select: none;
}

.menu__link {
    display: block;
    padding: 2rem 6rem;
    font-size: 2.2rem;
    color: $first-color;
    text-decoration: none;
    font-weight: bold;
    transition: color .2s;
    text-transform: uppercase;

    &:active {
        opacity: .8;
    }
}

.bluler {
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity .2s linear;
}