* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans',
        sans-serif;
    padding-top: 7rem;
    background-color: $second-color;
    color: $first-color;

    @media (min-width: $tablet) {
        padding-top: 8rem;
    }

    @media (min-width: $desktop) {
        padding-top: 9rem;
    }
}